Repository 36-APPJAM-HEARTZ/BYEBOO-iOS, pull requests merged in 2025-08, with the labels that each got.

#170 Refactor/#164 멘토링 내용 반영(승준)
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/GetProgressingQuestsUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/Navigation/BottomNavigationViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/Common/ByeBooNicknameTextField.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/Common/InformationBaseView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/Common/InformationViewType.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/View/Feeling/EmotionCardsView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/View/Feeling/SelectEmotionView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/View/Nickname/InputNicknameView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/View/Quest/QuestCardsView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/View/Quest/SelectQuestView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/ViewController/InformationViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/Coordinator/QuestCheckCoordinating.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/Coordinator/QuestCheckCoordinator.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/View/QuestMain/QuestsCheckView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewController/QuestCheckViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewModel/QuestsViewModel.swift
Labels: 승준🤠, refactor

#173 Style/#169 디자인 수정사항 반영
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/EmotionBottomSheet/EmotionBottomSheetViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/EmotionBottomSheet/EmotionChip.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/Modal/QuitModalView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/Navigation/BottomNavigationViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/Tag/ByeBooTextTag.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/Tag/ByeBooYellowTag.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/TextView/TextBoxView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Enum/QuestType.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/View/Archive/ArchiveQuestHeaderView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/View/Tip/QuestTipView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/WriteQuest/Common/WriteQuestTitleView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/WriteQuest/View/QuestionType/WriteQuestionTypeQuestView.swift
Labels: 나연🐹, style

#201 Feat/#200 UI test 용 assembler
  ByeBoo-iOS/ByeBoo-iOS/App/DIContainer+.swift
  ByeBoo-iOS/ByeBoo-iOS/App/SceneDelegate.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/DataDependencyAssembler.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/FetchCharacterDialogueUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/FetchUserJourneyUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/GetHelperUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/GetProgressingQuestsUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/GetUserNameUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/SetHelperUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/StartJourneyUseCase.swift
Labels: 주리🐿️, feat

#190 Feat/#189 오프보딩 api 연결
  ByeBoo-iOS/ByeBoo-iOS/App/SceneDelegate.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Enum/JoutneyStyle+Data.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Model/LookBackJourneyResponseDTO.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Model/UserJourneyResponseDTO.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Network/EndPoint/QuestAPI.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Repository/QuestsRepository.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/DomainDependencyAssembler.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/Entity/Enum/JourneyStyle.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/Entity/Enum/QuestStyle.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/Entity/JourneyEntity.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/Entity/LookBackJourneyEntity.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/Interface/QuestsInterface.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/GetLookBackJourneyUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/GetNewJourneyIUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Enum/JourneyStyle+Presentation+.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/ViewController/InformationViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/ViewModel/InformationViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/View/JourneyListView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/View/LookBackJourneyView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/View/NewJourneySelectView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/LookBackJourneyViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/MyPageViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/NewJourneySelectViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewModel/LookBackJourneyViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewModel/NewJourneyViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Offboarding/ViewController/FinishJourneyViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/Coordinator/QuestCheckCoordinator.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewController/QuestInitViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/PresentationDependencyAssembler.swift
Labels: 나연🐹, feat

#204 Feat/#203 오프보딩 api
  ByeBoo-iOS/ByeBoo-iOS/Data/Enum/JourneyStyle+Data.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Enum/JourneyType+Data.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Network/EndPoint/QuestAPI.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Repository/QuestsRepository.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/DomainDependencyAssembler.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/Interface/QuestsInterface.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/FetchNewJourneyUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/TextView/OneLineTextBoxView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/View/JourneyListView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/View/NewJourneySelectView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/MyPageViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/NewJourneySelectViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewModel/NewJourneyViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/PresentationDependencyAssembler.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/ViewControllerFactory.swift
Labels: 나연🐹, feat

#208 Feat/#198 닉네임 수정 API 연동
  ByeBoo-iOS/ByeBoo-iOS.xcodeproj/xcshareddata/xcschemes/ByeBoo-iOS.xcscheme
  ByeBoo-iOS/ByeBoo-iOS/Data/Model/UserNameRequestDTO.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Model/UserNameResponseDTO.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Network/EndPoint/UsersAPI.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Repository/UsersRepository.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/DomainDependencyAssembler.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/Interface/UsersInterface.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/ModifyNickNameUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/View/ModifyNicknameView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/ModifyNicknameViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/MyPageViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewModel/ModifyNicknameViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewModel/MyPageViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/PresentationDependencyAssembler.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/ViewControllerFactory.swift
Labels: 승준🤠, feat

#209 Feat/#206 테스트 코드 세팅
  ByeBoo-iOS/ByeBoo-iOS.xcodeproj/project.pbxproj
  ByeBoo-iOS/ByeBoo-iOS.xcodeproj/xcuserdata/juri.xcuserdatad/xcschemes/xcschememanagement.plist
  ByeBoo-iOS/ByeBoo-iOS/Data/Repository/UsersRepository.swift
  ByeBoo-iOS/ByeBooTests/Feature/Home/HomeTests.swift
Labels: 주리🐿️, add, test

#212 Refactor/#210 오프보딩 애니메이션 수정
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Offboarding/View/FinishJourneyView.swift
Labels: 주리🐿️, style, refactor

#217 Feat/#214 애플로그인 연결
  ByeBoo-iOS/ByeBoo-iOS.xcodeproj/project.pbxproj
  ByeBoo-iOS/ByeBoo-iOS/ByeBoo-iOS.entitlements
  ByeBoo-iOS/ByeBoo-iOS/Core/ByeBooError.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Network/Service/NetworkService.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Persistence/Service/KeychainManager.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Repository/AuthRepository.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/Interface/AuthInterface.swift
  ByeBoo-iOS/ByeBoo-iOS/Domain/UseCase/SocialLoginUseCase.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Login/ViewController/LoginViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Login/ViewModel/LoginViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/PresentationDependencyAssembler.swift
Labels: 나연🐹, feat

#227 Feat/#221 서버 연결 에러 토스트 메시지 구현
  ByeBoo-iOS/ByeBoo-iOS/Core/ByeBooError.swift
  ByeBoo-iOS/ByeBoo-iOS/Data/Network/Service/NetworkService.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Common/ToastMessageView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Enum/ToastMessageType.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Home/ViewController/CardJourneyViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Home/ViewController/HomeViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Home/ViewController/JourneyResultViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Information/ViewController/InformationViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/View/JourneyListView.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/LookBackJourneyViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/ModifyNicknameViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/MyPage/ViewController/NewJourneySelectViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewController/ArchiveQuestViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewController/QuestCheckViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewController/QuestStartViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewController/QuestTipViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewModel/QuestsViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/WriteQuest/ViewController/CompleteActiveTypeQuestViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/WriteQuest/ViewController/CompleteQuestionTypeQuestViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/WriteQuest/ViewController/WriteActiveTypeQuestViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/WriteQuest/ViewController/WriteQuestionTypeQuestViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/PresentationDependencyAssembler.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Protocol/ToastErrorHandler.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Protocol/ToastPresentable.swift
  ByeBoo-iOS/ByeBoo-iOS/Resource/Assets.xcassets/IconSystem/error_toast.imageset/Contents.json
  ByeBoo-iOS/ByeBoo-iOS/Resource/Assets.xcassets/IconSystem/error_toast.imageset/icon.svg
Labels: 승준🤠, feat

#229 [Fix] 진행 중인 퀘스트 API 반복 호출 문제 해결
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewController/QuestCheckViewController.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/Feature/Quest/ViewModel/ProgressingQuestsViewModel.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/PresentationDependencyAssembler.swift
  ByeBoo-iOS/ByeBoo-iOS/Presentation/ViewControllerFactory.swift
Labels: 승준🤠, fix
